*{
margin: 0;
box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    padding: 90px 20px 0;
    background-image: linear-gradient(to right top, #545479, #385576, #1a546d, #00525e, #074e4d, #11564f, #1c5d50, #296550, #2d7d67, #2f957f, #2eae9a, #27c8b7);
    font-family: sans-serif;
}
.header{
background-color: #074e4d;
height: 80px;
position: fixed;
width: 100%;
top: 0;
left: 0;
}
.nav{
display: flex;
justify-content: space-between;
max-width: 992px;
margin: 0 auto; 
}
.nav-link{
color: white;
text-decoration: none;
}
.ale{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: #27c8b7;
    transition: 0.5s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}
@media (max-width: 768px){
    body{
        padding-top: 70px;
    }
    .header{
        height: 60px;
    }
    .ale{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #1c5d50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover{
        background: none;
        color: #2eae9a;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }
}
.contacto{
    margin: 50px ;
    width: 200;
    padding: 30px;
    background: rgba(0,0,0, .5);
    border-radius: 10px;
}
.contacto h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contacto .elemento input{
    width: 100%;
    padding: 10px 0;
    color:white;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
.contacto .elemento textarea{
    width: 100%;
    padding: 10px 0;
    color:white;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    resize: vertical;
}
.contacto .elemento input[type="submit"]{
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    /*background-color: #a8eb12;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;*/
}
.contacto .elemento input:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

.contacto .elemento input:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
    background-position: 0% 50%;
}

    50% {
    background-position: 100% 50%;
    }

    100% {
    background-position: 0% 50%;
    }
}
section{
    float: right;
    width: 75%;
    color: #008793;
    border-radius: 5px;
    /*box-shadow: 1px 0 4px rgb(0, 0, 0, .2);*/
    margin-bottom: 15px;
    padding: 15px;
}
footer{
    clear: both;
    color: #296550;
    padding: 1px;
    text-align: center;
    width: 100% auto
}
footer a{
    text-decoration: none;
}
.pie{
    margin: 0px auto;
    width: 200;
    padding: 30px;
    background: rgba(0,0,0, .5);
    border-radius: 0px;
    text-align: center;
    color: azure;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}